* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --clr-button: rgb(224, 126, 126);
  --red: #8B0000;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(224, 167, 126);
  background: linear-gradient(0deg, #e99f6a 0%, #f3c79d 30%, rgb(233, 183, 109) 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-family: 'Tangerine', cursive;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
}


.line {
  border: solid 1px var(--red);
  border-radius: 50%;
  width: 650px;
  opacity: 0;
  animation: text-appear 4s forwards;
}

header span {
  color: black;
}

#playButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--red);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

#playButton:hover {
  transform: translateY(2px);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

#playButton:active {
  box-shadow: 0px 0 0 11px #fff, 0px 0 0 10px rgb(221, 99, 99); 
  background-color: #fff;
}

#playButton img {
  width: 30px;
  height: 30px;
  opacity: 0;
  animation: text-appear 2s forwards;
}

header h1 {
  opacity: 0;
  animation: text-appear 2s forwards;
}

#leftSide {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#rightSide {
  width: 50%;
}

.photo {
  height: 449px;
  width: 360px;
  position: sticky;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}


@keyframes moveAndRotate {
  from {
    transform: rotate(-10deg) translateY(100%);
  }

  to {
    transform: rotate(-10deg) translateY(0);
  }
}

@keyframes moveAndRotateEven {
  from {
    transform: rotate(10deg) translateY(100%);
  }

  to {
    transform: rotate(10deg) translateY(0);
  }
}

.lyrics {
  height: 449px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--red);
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

.lyrics h1,
.lyrics h2 {
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
    -webkit-user-select: none;
}

.lyrics h1 span,
.lyrics h2 span {
    display: inline-block;
    opacity: 0;
    animation: text-appear 0.5s forwards; /* Adicionando a animação */
}

@keyframes text-appear {
    to {
        opacity: 1;
    }
}

@media (max-width: 415px) {
  header h1 {
    font-size: 40px;
  }
  
  .line {
    width: 350px;
  }

  .photo {
    height: 160px;
    width: 130px;
  }

  .lyrics {
    height: 160px;
    padding: 10px 0 10px 10px;
  }

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }

  #leftSide {
    width: 40%;
  }

  #rightSide {
    width: 60%;
  }
}

.popup.my-popup .popup-title {
  font-size: 100px;
}

.popup.my-popup p {
    font-size: 60px;
}